# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Environment variables
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Tools
.ruff_cache/
.pytest_cache/
.mypy_cache/
